extends ../../layouts/default.pug 

block main
  .profile-container
    h1(class="profile-title") #{pageTitle}
    .profile-content
      .profile-avatar
        if (user.avatar)
          img(src=user.avatar width="150px" class="avatar")
      .profile-info
        if (user.fullName)
          p Họ tên: <b>#{user.fullName}</b>
        if (user.email)
          p Email: <b>#{user.email}</b>
        if (user.phone)
          p Số điện thoại: <b>#{user.phone}</b>
        p 
          span Trạng thái: 
          span
            <b>#{user.status === "active" ? "Hoạt động": "Dừng hoạt động"}</b>
        if (role.title)
          p Phân quyền: <b>#{role.title}</b>
