include ../mixins/sub-category.pug
header.header
  .container
    .row.align-items-center
      .col-auto
        .inner-logo
          a(href="/")
            img(src=settingGeneral.logo, alt="Logo")

      .col
        form(action="/products/search" method="GET" class="search-form d-flex")
          input(
            type="text"
            placeholder="Bạn muốn tìm kiếm gì ? "
            class="form-control search-input"
            name="keyword"
            value=keyword
          )
          button(
            type="submit"
            class="btn btn-primary search-button"
          ) Tìm kiếm

      .col-auto
        .inner-menu
          ul.nav
            li.nav-item
              a.nav-link(href="/") Trang chủ
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href="/products" role="button" data-toggle="dropdown" aria-expanded="false") 
                | Sản phẩm
                i.fas.fa-chevron-down
              ul.dropdown-menu
                +sub-category(allCategory)
            li.nav-item
              a.nav-link.cart-link(href="/cart")
                i.fas.fa-shopping-cart
                | Giỏ hàng 
                span.cart-count  #{miniCart}
            if(user)
              li.nav-item
                a.nav-link(href="/user/profile")
                  i.fas.fa-user
                  |  #{user.fullName}
              li.nav-item
                a.nav-link(href="/user/logout") Đăng xuất
            else
              li.nav-item
                a.nav-link(href="/user/login") Đăng nhập
              li.nav-item
                a.nav-link(href="/user/register") Đăng ký